body{
    background-image: url(Imagen/flores.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.redirect{
    text-decoration: none;
    background: none;
    color: white;
}

ul{
    text-decoration: none;
}