body{
    background-image: url(Imagen/flores.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.redirect{
    text-decoration: none;
    background: none;
    color: rgb(0, 0, 0);
    height: 15px;
    line-height: 15px;
}

ul{
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    line-height: 30px;
}

p{
    font-size: 25px;
}